<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" [routerLink]="['']">
        <img alt="Stejsi App" class="d-inline-block align-top" height="30" src="assets/stejsi_48.png" width="30">
        StejsiApp
    </a>
    <button class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button" *ngIf="isAuthenticated">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar" *ngIf="!isAuthenticated">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/login">Logowanie trenera</a>
            </li>
        </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="isAuthenticated">
        <ul class="navbar-nav mr-auto">
            <li [routerLinkActiveOptions]="{exact: true}" class="nav-item" routerLinkActive="active">
                <a class="nav-link" data-target=".navbar-collapse.show" data-toggle="collapse" routerLink="/home">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" data-target=".navbar-collapse.show" data-toggle="collapse" routerLink="/aktualnosci">Aktualności</a>
            </li>
            <li class="nav-item dropdown" data-target=".navbar-collapse.show" data-toggle="collapse"
                routerLinkActive="active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button">
                    Podopieczni
                </a>
                <div class="dropdown-menu fade-up">
                    <a class="dropdown-item" routerLink="/podopieczni">Wszyscy</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/podopieczni/nowy">Dodaj</a>
                </div>
            </li>
            <li class="nav-item" data-target=".navbar-collapse.show" data-toggle="collapse" routerLinkActive="active">
                <a class="nav-link" routerLink="/kalendarz" tabindex="-1">Kalendarz</a>
            </li>
            <li class="nav-item" data-target=".navbar-collapse.show" data-toggle="collapse" routerLinkActive="active">
                <a class="nav-link" routerLink="/oferta" tabindex="-1">Oferta</a>
            </li>
            <li class="nav-item" data-target=".navbar-collapse.show" data-toggle="collapse" routerLinkActive="active">
                <a class="nav-link" routerLink="/ustawienia" tabindex="-1">Ustawienia</a>
            </li>
            <li class="nav-item" data-target=".navbar-collapse.show" data-toggle="collapse" routerLinkActive="active">
                <a class="nav-link" tabindex="-1" (click)="onLogout()"><fa-icon [icon]="faSignOutAlt" class="d-none d-lg-block"></fa-icon><span class="d-block d-lg-none"><fa-icon [icon]="faSignOutAlt" class="mr-2"></fa-icon>Wyloguj się</span></a>
            </li>
        </ul>
        <div class="d-none d-lg-block">
            <app-user-search-form></app-user-search-form>
        </div>
    </div>
</nav>
