<div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-12 offset-lg-0">
        <a class="btn btn-success" [routerLink]="['nowa']" *ngIf="newOfferButtonVisible">Nowa oferta</a>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12 col-md-8 offset-md-2 col-lg-12 offset-lg-0">
        <div class="card-columns">
            <app-offer-list-item
                    *ngFor="let offer of packageTypes"
                    [offer]="offer"
            ></app-offer-list-item>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12 col-md-6 offset-md-3 text-center">
            <button class="btn btn-sm btn-dark mx-auto" *ngIf="!isLoading && !isLastPage()" (click)="onFetchMore()">Więcej <fa-icon [icon]="faSyncAlt"></fa-icon></button>
            <app-loading-spinner-lg *ngIf="isLoading"></app-loading-spinner-lg>
    </div>
</div>
