<div class="row">
    <div class="col-sm-12 well">
        <div class="alert alert-danger" *ngIf="errMsg != null">
            <strong>Uwaga!</strong> {{ errMsg }}
        </div>
        <form>
            <div class="row">
                <div class="col-xs-4 form-group"></div>
                <div class="col-xs-4 form-group">
                    <label for="username">Użytkownik</label>
                    <input type="text" id="username" class="form-control" #usernameinput>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 form-group"></div>
                <div class="col-xs-4 form-group">
                    <label for="password">Hasło</label>
                    <input type="password" id="password" class="form-control" #passwordinput>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 form-group"></div>
                <div class="col-xs-4">
                    <button class="btn btn-success" type="button" style="margin-right: 5px;" (click) = "onLogin(usernameinput, passwordinput)">Zaloguj</button>
                </div>
            </div>
        </form>

    </div>
</div>
