<div class="row">
    <div class="col-12">
        <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert" *ngIf="infoMessage">
            <div [innerHTML]="infoMessage"></div>
            <button type="button" class="close" data-dismiss="alert" (click)="infoMessage = null">
                <span>&times;</span>
            </button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" *ngIf="errorMessage">
            <div [innerHTML]="errorMessage"></div>
            <button type="button" class="close" data-dismiss="alert" (click)="errorMessage = null">
                <span>&times;</span>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 offset-3">
        <h5>Zaloguj się</h5>
        <small class="text-muted">Logowanie dla trenera personalnego</small>
        <form class="mt-2" #f=ngForm (ngSubmit)="onLoginSubmit(f)">
            <div class="form-group">
                <label for="loginName">Login</label>
                <input
                        class="form-control"
                        type="text"
                        id="loginName"
                        name="login"
                        ngModel
                        required
                        minlength="5"
                >
            </div>
            <div class="form-group">
                <label for="passwordInput">Login</label>
                <input
                        class="form-control"
                        type="password"
                        id="passwordInput"
                        name="password"
                        ngModel
                        required
                        minlength="5"
                >
            </div>
            <button
                    class="btn btn-dark"
                    type="submit"
                    [disabled]="f.invalid || isLoginIn"
            >Zaloguj się <span class="spinner-grow spinner-grow-sm" *ngIf="isLoginIn"></span> </button>
        </form>
    </div>
</div>
