<div class="row mb-2">
    <div class="col-12 col-md-8 offset-md-2 col-lg-12 offset-lg-0">
        <h4>Oferta dla podopiecznych</h4>
        <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert" *ngIf="infoMessage">
            {{ infoMessage }}
            <button type="button" class="close" data-dismiss="alert" (click)="infoMessage = null">
                <span>&times;</span>
            </button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" *ngIf="errorMessage">
            <div [innerHTML]="errorMessage"></div>
            <button type="button" class="close" data-dismiss="alert" (click)="errorMessage = null">
                <span>&times;</span>
            </button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<app-offer-list></app-offer-list>
