<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <div class="jumbotron">
            <h1 class="display-4">Witaj Siłaczu!</h1>
            <p class="lead">Już teraz pobierz aplikację StejsiApp i&nbsp;ćwicz razem z&nbsp;prawdopodobnie najlepszą trener personalną w&nbsp;Polsce!</p>
            <hr class="my-4">
            <p>Kasia Stasiecka przygotuje, poprowadzi i&nbsp;wesprze Twój trening! Efekty zobaczysz bardzo szybko!</p>
            <a class="btn btn-dark btn-lg" href="https://play.google.com/store/apps/details?id=pl.mihome.stejsiapp" role="button" target="_blank">Pobierz aplikację</a>
        </div>
    </div>
</div>
